x-airflow-common:
  &airflow-common
  build:
    context: .
    dockerfile: Dockerfile
  user: "50000:0"
  entrypoint: /bin/bash -c
  env_file:
    - .env
  environment:
    DESTINATION__POSTGRES__CREDENTIALS__HOST: ${POSTGRES_HOST}
    DESTINATION__POSTGRES__CREDENTIALS__PORT: ${POSTGRES_PORT}
    DESTINATION__POSTGRES__CREDENTIALS__DATABASE: ${POSTGRES_DB}
    DESTINATION__POSTGRES__CREDENTIALS__USERNAME: ${POSTGRES_USER}
    DESTINATION__POSTGRES__CREDENTIALS__PASSWORD: ${POSTGRES_PASSWORD}
  volumes:
    - ./src:/opt/airflow/src
    - ./data:/opt/airflow/data
    - airflow_metadata:/opt/airflow/metadata
  depends_on:
    postgres:
      condition: service_healthy

services:
  postgres:
    image: postgres:15
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  airflow-init:
    <<: *airflow-common
    user: "0:0"
    command:
      - |
        chown -R airflow:root .//metadata &&
        su -s /bin/bash airflow -c "airflow db migrate" &&
        su -s /bin/bash airflow -c "airflow users create \
          --username admin \
          --firstname Admin \
          --lastname User \
          --role Admin \
          --email admin@example.com \
          --password admin" || echo "Admin user already exists"

  airflow-webserver:
    <<: *airflow-common
    command:
      - |
        airflow webserver
    ports:
      - "8080:8080"
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  airflow-scheduler:
    <<: *airflow-common
    command:
      - |
        airflow scheduler
    depends_on:
      airflow-init:
        condition: service_completed_successfully

volumes:
  pg_data:
  airflow_metadata:
