name: build

on:
  push:
    branches: [ main ]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Cache pre-commit
      uses: actions/cache@v4
      with:
        path: ~/.cache/pre-commit
        key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
        restore-keys: |
          ${{ runner.os }}-pre-commit-
    - name: Install dependencies for sqlfluff
      run: |
        pip install dbt-postgres sqlfluff-templater-dbt
    - uses: pre-commit/action@v3.0.1
  airflow-dags:
    needs: [pre-commit]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: 'requirements/base.txt'
      - name: Install dependencies
        run: |
          pip install pytest apache-airflow==2.9.3
          pip install -r requirements/base.txt
      - name: Run DAG integrity test
        env:
          PYTHONPATH: ${{ github.workspace }}/src
          TOMORROW_API_KEY: foo
        run: |
          pytest src/tests/test_dag_integrity.py
